<!DOCTYPE html>
<html>
<head>
    @model int
    @{
        ViewData["Title"] = "Página Inicial";
    }
</head>
<body class="home">
    <div class="text-center">
        <h1>Zombie Lab</h1>
        <hr />
        <p>
            Seja bem-vindo ao nosso laboratório apocalípitico criado para aperfeiçoamento da defesa contra zumbis.
            <br />
            Nosso intuito é catalogar possíveis hospedeiros, para que seja possível aumentar a chance de defesa.
        </p>
        <p style="background-color: azure;">
            Atenção! Nunca informe seu login e senha para outras pessoas em um mundo apocalíptico! 
            <br/>
            Nunca sabemos quem está mal intencionado
        </p>
    </div>
</body>
</html>