<!DOCTYPE html>
<html>
<head>
    @model int
    @{
        ViewData["Title"] = "Classificações";
    }
</head>
<body>
    <div class="info">
        <h1>Classificação</h1>
        <hr />
        <p>
            Depois de muita análise clínica, nossos cientistas chegaram a conclusão de que é possível classificar a força, inteligência e velocidade de um possível hospedeiro com base em
            características como:
            <ul>
                <li>Idade</li>
                <li>Sexo</li>
                <li>Peso</li>
                <li>Altura</li>
                <li>Tipo Sanguíneo</li>
                <li>Gosto Musical</li>
                <li>Jogo Preferido</li>
                <li>Esporte Praticado</li>
            </ul>

            Cada um dos atributos (força, inteligência e velocidade) possui valores de 1 a 100 nos dados catalogados.
            <br />
            <br />
            O cálculo da força total é influenciado pelo tipo sanguíneo, idade, sexo, peso, altura e esporte praticado. Portanto, após a soma de todos os pontos de força, a mesma é dividida por 6.
            <br />
            <br />
            O cálculo da inteligência é influenciado pelo tipo sanguíneo, idade, sexo, gosto musical, jogo preferido e esporte praticado. Portanto, após a soma de todos os pontos de inteligência, a mesma é dividida por 6.
            <br />
            <br />
            O cálculo da velocidade é influenciado pelo tipo sanguíneo, idade, sexo, peso, altura e esporte praticado. Portanto, após a soma de todos os pontos de velocidade, a mesma é dividida por 6.
            <br /><br />

            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tipo Sanguíneo</th>
                            <th scope="col">Força</th>
                            <th scope="col">Inteligência</th>
                            <th scope="col">Velocidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A+</td>
                            <td>70pts</td>
                            <td>70pts</td>
                            <td>70pts</td>
                        </tr>
                        <tr>
                            <td>A-</td>
                            <td>60pts</td>
                            <td>60pts</td>
                            <td>60pts</td>
                        </tr>
                        <tr>
                            <td>B+</td>
                            <td>40pts</td>
                            <td>40pts</td>
                            <td>40pts</td>
                        </tr>
                        <tr>
                            <td>B-</td>
                            <td>30pts</td>
                            <td>30pts</td>
                            <td>30pts</td>
                        </tr>
                        <tr>
                            <td>O+</td>
                            <td>20pts</td>
                            <td>20pts</td>
                            <td>20pts</td>
                        </tr>
                        <tr>
                            <td>O-</td>
                            <td>10pts</td>
                            <td>10pts</td>
                            <td>10pts</td>
                        </tr>
                        <tr>
                            <td>AB+</td>
                            <td>100pts</td>
                            <td>100pts</td>
                            <td>100pts</td>
                        </tr>
                        <tr>
                            <td>AB-</td>
                            <td>90pts</td>
                            <td>90pts</td>
                            <td>90pts</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Idade</th>
                            <th scope="col">Força</th>
                            <th scope="col">Inteligência</th>
                            <th scope="col">Velocidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0 a 5</td>
                            <td>20pts</td>
                            <td>10pts</td>
                            <td>30pts</td>
                        </tr>
                        <tr>
                            <td>6 a 11</td>
                            <td>60pts</td>
                            <td>50pts</td>
                            <td>40pts</td>
                        </tr>
                        <tr>
                            <td>12 a 17</td>
                            <td>90pts</td>
                            <td>80pts</td>
                            <td>70pts</td>
                        </tr>
                        <tr>
                            <td>18 a 29</td>
                            <td>100pts</td>
                            <td>100pts</td>
                            <td>100pts</td>
                        </tr>
                        <tr>
                            <td>30 a 59</td>
                            <td>50pts</td>
                            <td>90pts</td>
                            <td>80pts</td>
                        </tr>
                        <tr>
                            <td>60+</td>
                            <td>40pts</td>
                            <td>70pts</td>
                            <td>20pts</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Peso</th>
                            <th scope="col">Força</th>
                            <th scope="col">Velocidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0 a 30kg</td>
                            <td>40pts</td>
                            <td>100pts</td>
                        </tr>
                        <tr>
                            <td>31 a 70kg</td>
                            <td>70pts</td>
                            <td>80pts</td>
                        </tr>
                        <tr>
                            <td>70+</td>
                            <td>100pts</td>
                            <td>60pts</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Altura</th>
                            <th scope="col">Força</th>
                            <th scope="col">Velocidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0 a 1m</td>
                            <td>60pts</td>
                            <td>50pts</td>
                        </tr>
                        <tr>
                            <td>Maior que 1 a 1.5m</td>
                            <td>70pts</td>
                            <td>60pts</td>
                        </tr>
                        <tr>
                            <td>Maior que 1.5 a 2m</td>
                            <td>90pts</td>
                            <td>80pts</td>
                        </tr>
                        <tr>
                            <td>2m+</td>
                            <td>100pts</td>
                            <td>100pts</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sexo</th>
                            <th scope="col">Força</th>
                            <th scope="col">Inteligência</th>
                            <th scope="col">Velocidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>F</td>
                            <td>90pts</td>
                            <td>100pts</td>
                            <td>85pts</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>100pts</td>
                            <td>70pts</td>
                            <td>100pts</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Gosto Musical</th>
                            <th scope="col">Inteligência</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pop</td>
                            <td>100pts</td>
                        </tr>
                        <tr>
                            <td>Rock</td>
                            <td>70pts</td>
                        </tr>
                        <tr>
                            <td>Pagode</td>
                            <td>40pts</td>
                        </tr>
                        <tr>
                            <td>Sertanejo</td>
                            <td>60pts</td>
                        </tr>
                        <tr>
                            <td>Hip-Hop/Rap</td>
                            <td>80pts</td>
                        </tr>
                        <tr>
                            <td>Eletrônica</td>
                            <td>90pts</td>
                        </tr>
                        <tr>
                            <td>Funk</td>
                            <td>30pts</td>
                        </tr>
                        <tr>
                            <td>Metal</td>
                            <td>50pts</td>
                        </tr>
                        <tr>
                            <td>Demais gêneros</td>
                            <td>10pts</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Jogo Preferido</th>
                            <th scope="col">Inteligência</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Counter-Strike</td>
                            <td>90pts</td>
                        </tr>
                        <tr>
                            <td>Minecraft</td>
                            <td>100pts</td>
                        </tr>
                        <tr>
                            <td>Fortnite</td>
                            <td>70pts</td>
                        </tr>
                        <tr>
                            <td>The Witcher</td>
                            <td>100pts</td>
                        </tr>
                        <tr>
                            <td>Valorant</td>
                            <td>60pts</td>
                        </tr>
                        <tr>
                            <td>Assassin's Creed</td>
                            <td>90pts</td>
                        </tr>
                        <tr>
                            <td>World of Warcraft</td>
                            <td>80pts</td>
                        </tr>
                        <tr>
                            <td>FIFA</td>
                            <td>50pts</td>
                        </tr>
                        <tr>
                            <td>League of Legends</td>
                            <td>40pts</td>
                        </tr>
                        <tr>
                            <td>Dota</td>
                            <td>20pts</td>
                        </tr>
                        <tr>
                            <td>Rocket League</td>
                            <td>30pts</td>
                        </tr>
                        <tr>
                            <td>Outros</td>
                            <td>10pts</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Esporte</th>
                            <th scope="col">Força</th>
                            <th scope="col">Inteligência</th>
                            <th scope="col">Velocidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Futebol</td>
                            <td>90pts</td>
                            <td>60pts</td>
                            <td>100pts</td>
                        </tr>
                        <tr>
                            <td>Basquete</td>
                            <td>90pts</td>
                            <td>80pts</td>
                            <td>70pts</td>
                        </tr>
                        <tr>
                            <td>Vôlei</td>
                            <td>80pts</td>
                            <td>90pts</td>
                            <td>60pts</td>
                        </tr>
                        <tr>
                            <td>Luta</td>
                            <td>100pts</td>
                            <td>60pts</td>
                            <td>30pts</td>
                        </tr>
                        <tr>
                            <td>Atletismo</td>
                            <td>90pts</td>
                            <td>70pts</td>
                            <td>80pts</td>
                        </tr>
                        <tr>
                            <td>eSport</td>
                            <td>30pts</td>
                            <td>100pts</td>
                            <td>40pts</td>
                        </tr>
                        <tr>
                            <td>Nada</td>
                            <td>0pts</td>
                            <td>0pts</td>
                            <td>0pts</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <p />

        <h1>Periculosidade, Ataques e Defesas</h1>
        <hr />
        <p>
            O grau de periculosidade do possível hospedeiro ou do próprio zumbi é a média da força, inteligência e velocidade totais somadas.
            <br /><br />

            SCORE DE PERICULOSIDADE = (FORÇA TOT. + INTELIGÊNCIA TOT. + VELOCIDADE TOT.) / 3
            <br /><br />

            As defesas e ataques são definidas com base na força, inteligência e velocidade totais. Veja a tabela abaixo:
            <br /><br />
            <div class="table-container">
                <table class="table" style="text-align: start;">
                    <thead>
                        <tr>
                            <th>Atributo do Zumbi</th>
                            <th>Estratégia de Defesa dos Patos</th>
                            <th>Estratégia de Ataque dos Patos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Força Alta</td>
                            <td>Escudo Anti-Força: Patos fortes na frente para criar uma barreira defensiva.</td>
                            <td>Investida em Grupo: Patos se agrupam e atacam em massa usando bicos afiados e asas.</td>
                        </tr>
                        <tr>
                            <td>Velocidade Alta</td>
                            <td>Voo Evasivo: Patos se dispersam e voam em diferentes direções.</td>
                            <td>Jato d'Água: Patos soltam um jato de água para que os zumbis escorreguem</td>
                        </tr>
                        <tr>
                            <td>Inteligência Alta</td>
                            <td>Camuflagem Inteligente: Patos se camuflam no ambiente para evitar serem detectados.</td>
                            <td>Armadilha Surpresa: Coordenação de ataques surpresa e armadilhas.</td>
                        </tr>
                        <tr>
                            <td>Força e Velocidade Altas</td>
                            <td>Combinação das estratégias de força e velocidade.</td>
                            <td>Combinação das estratégias de força e velocidade.</td>
                        </tr>
                        <tr>
                            <td>Força e Inteligência Altas</td>
                            <td>Combinação das estratégias de força e inteligência.</td>
                            <td>Combinação das estratégias de força e inteligência.</td>
                        </tr>
                        <tr>
                            <td>Velocidade e Inteligência Altas</td>
                            <td>Combinação das estratégias de velocidade e inteligência.</td>
                            <td>Combinação das estratégias de velocidade e inteligência.</td>
                        </tr>
                        <tr>
                            <td>Força, Velocidade e Inteligência Altas</td>
                            <td>Combinação das estratégias de força, velocidade e inteligência.</td>
                            <td>Combinação das estratégias de força, velocidade e inteligência.</td>
                        </tr>
                        <tr>
                            <td>Força, Velocidade e Inteligência Baixas</td>
                            <td>Modo Flash: os patos apenas correm para evitar contato com o zumbi, pois seria uma perda de energia!</td>
                            <td>Investida simples: ataque básico e sem muito esforço</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <p>
            Considerações:
            <br />
            Força é considerada alta acima de 50pts.
            <br />
            Inteligência é considerada alta acima de 65pts.
            <br />
            Velocidade é considerada alta acima de 60pts.
        </p>
        
        <h3 class="text-center">Defesas</h3>
        <section class="ataque-defesa-info">
            <img src="~/image/modo-flash.jpeg" alt="Modo Flash">
            <img src="~/image/voo-evasivo.jpeg" alt="Voo Evasivo">
            <img src="~/image/escudo.jpeg" alt="Escudo Anti-Força">
            <img src="~/image/camuflagem.jpeg" alt="Camuflagem">
        </section>
        
        <br />

        <h3 class="text-center">Ataques</h3>
        <section class="ataque-defesa-info">
            <img src="~/image/investida-simples.jpeg" alt="Modo Flash">
            <img src="~/image/investida-grupo.jpeg" alt="Voo Evasivo">
            <img src="~/image/jato-agua.jpeg" alt="Escudo Anti-Força">
            <img src="~/image/armadilha-surpresa.jpeg" alt="Camuflagem">
        </section>
    </div>
</body>
</html>