<!DOCTYPE html>
<html>
<head>
    @model int
    @{
        ViewData["Title"] = "Classificações";
    }
</head>
<body>
    <div class="classification">
        <h1>Sobre: Classificação</h1>
        <hr />
        <p>
            Depois de muita análise clínica, nossos cientistas chegaram a conclusão de que é possível classificar a força, inteligência e velocidade de um possível hospedeiro com base em 
            características como:
            <ul>
                <li>Idade</li>
                <li>Sexo</li>
                <li>Peso</li>
                <li>Altura</li>
                <li>Tipo Sanguíneo</li>
                <li>Gosto Musical</li>
                <li>Jogo Preferido</li>
                <li>Esporte Praticado</li>
            </ul>

            
            O cálculo da força total é influenciado pelo tipo sanguíneo, idade, sexo, peso, altura e esporte praticado.
            <br />
            O cálculo da inteligência é influenciado pelo tipo sanguíneo, idade, sexo, gosto musical, jogo preferido e esporte praticado.
            <br />
            O cálculo da velocidade é influenciado pelo tipo sanguíneo, idade, sexo, peso, altura e esporte praticado.
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tipo Sanguíneo</th>
                        <th scope="col">Força</th>
                        <th scope="col">Inteligência</th>
                        <th scope="col">Velocidade</th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                </tbody>
            </table>
        </p>
    </div>
</body>
</html>