<!DOCTYPE html>
<html>
<head>
    @model HostModel
</head>
<body class="dusk-chip">
    <h2>Informações para importação no chip</h2>

    <h3>Score de periculosidade:  @Model.DangerScore</h3>

    <h6>Força: @Model.Force  Inteligência: @Model.Intelligence  Velocidade: @Model.Velocity</h6>

    <h4>Pontos Fracos: </h4>
    <section class="ponto-fraco">
        @if (Model.Force <= 50)
        {
            <img src="~/image/academia.png" alt="Força" title="Força">
        }
        @if (Model.Intelligence <= 65)
        {
            <img src="~/image/cerebro.png" alt="Inteligência" title="Inteligência">
        }
        @if (Model.Velocity <= 60)
        {
            <img src="~/image/corrida.png" alt="Velocidade" title="Velocidade">
        }
        @if (Model.Force > 50 && Model.Intelligence > 65 && Model.Velocity > 60)
        {
            <p>Nenhum, por isso será necessário combinar seus ataques!!</p>
        }
    </section>

    <h4>Defesa</h4>
    <section class="ataque-defesa">
        @if (Model.Force <= 50 && Model.Intelligence <= 65 && Model.Velocity <= 60)
        {
            <img src="~/image/modo-flash.jpeg" alt="Modo Flash">
        }
        @if (Model.Force > 50)
        {
            <img src="~/image/escudo.jpeg" alt="Escudo Anti-Força">
        }
        @if (Model.Intelligence > 65)
        {
            <img src="~/image/camuflagem.jpeg" alt="Camuflagem Inteligente">
        }
        @if (Model.Velocity > 60)
        {
            <img src="~/image/voo-evasivo.jpeg" alt="Voo Evasivo">
        }
    </section>

    <br />
    <h4>Ataque</h4>
    <section class="ataque-defesa">
        @if (Model.Force <= 50 && Model.Intelligence <= 65 && Model.Velocity <= 60)
        {
            <img src="~/image/investida-simples.jpeg" alt="Investida Simples">
        }
        @if (Model.Force > 50)
        {
            <img src="~/image/investida-grupo.jpeg" alt="Investida em Grupo">
        }
        @if (Model.Intelligence > 65)
        {
            <img src="~/image/armadilha-surpresa.jpeg" alt="Armadilha Surpresa">
        }
        @if (Model.Velocity > 60)
        {
            <img src="~/image/jato-agua.jpeg" alt="Jato d'Água'">
        }
    </section>
</body>
</html>