<!DOCTYPE html>
<html>
    <head>
        @model MusicalTasteModel
        @{
            ViewData["Title"] = "Criar gosto musical";
        }
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Cadastrar Jogo</h1>
        </div>

        <form asp-controller="MusicalTaste" asp-action="Create" method="post">
            <div class="form-group mb-3">
                <label for="description">Descrição</label> @Html.ValidationMessageFor(x => x.Description)
                <input type="text" asp-for="Description" class="form-control" placeholder="Informe a descrição">
            </div>


            <button type="submit" class="btn btn-primary d-block w-100 mb-3">Adicionar</button>
            <a class="btn btn-danger d-block w-100 mb-3" role="button" asp-controller="MusicalTaste" asp-action="Index">Cancelar</a>
        </form>
    </body>
</html>