<!DOCTYPE html>
<html>
    <head>
        @model GameModel
        @{
            ViewData["Title"] = "Criar jogo";
        }
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Cadastrar Jogo</h1>
        </div>

        <form asp-controller="Game" asp-action="Create" method="post">
            <div class="form-group mb-3">
                <label for="name">Nome</label> @Html.ValidationMessageFor(x => x.Name)
                <input type="text" asp-for="Name" class="form-control" placeholder="Informe o nome">
            </div>


            <button type="submit" class="btn btn-primary d-block w-100 mb-3">Adicionar</button>
            <a class="btn btn-danger d-block w-100 mb-3" role="button" asp-controller="Game" asp-action="Index">Cancelar</a>
        </form>
    </body>
</html>